.calculator_box {
	border-style: solid;
	width: 90%;
	height: 100%;
	background-color: rgb(232, 0, 232);
	margin: auto;
}

#typed_display {
	background-color: white;
	border-style: solid;
	width: 93%;
	height: 100px;
	margin: auto;
	margin-top: 20px;
}

#answer_display {
	background-color: white;
	border-style: solid;
	width: 93%;
	height: 100px;
	margin: auto;
	margin-top: 10px;
}

.button_table {
	margin: auto;
	margin-top: 35px;
	border-style: solid;
	width: 93%;
	text-align: center;
}

button {
	background-color: rgb(175, 192, 237);
	color: white;
	padding: 0px 0px;
	text-align: center;
	color: black;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-weight: 1000;
	border-radius: 12px;
	font-family: Andale Mono, monospace;
	width: 20%;
	height: 50px;
}

button:hover {
  background-color: rgb(76, 175, 80);
  color: white;
}